form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.signup-form input {
  /* width: 100%;   */
}

input {
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 1%;
  border: 3px solid green;
  width: 30%;
}

input::placeholder {
  text-align: center;
  font-size: 1.5rem;
}

.sign-up h2 {
  text-align: center;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 30%;
}

.buttons button {
  background: green;
  color: white;
  padding: 2%;
  font-size: 1.5rem;
  border-radius: 20px;
  border: none;
  width: 40%;
}

.sign-up {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}